*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 30px;
    font-size: 15px;
    background: NavajoWhite;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 60px;
}
.guest_info_block{
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
    height: 150px;
    margin: 20px 10px 0 0;
    padding: 10px;
    display: inline-block;
    background: LightGray;
    position: relative;
}
.guest_name_block{
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.guest_name{
    width: 400px;
}
.guest_icons{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    width: 50px;
}
.guest_record_update_link{
    color: DodgerBlue;
}
.guest_record_update_link:hover{
    color: DarkBlue;
}
.guest_record_delete_link{
    color: OrangeRed;
}
.guest_record_delete_link:hover{
    color: Maroon;
}
.form{
    margin-top: 50px;
}
.post_form{
    margin-top: 20px;
}
.post_form p{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.post_form p input{
    width: 331px;
}
.button_add_or_create{
    margin-left: 65px;
    display: flex;
    justify-content: space-between;
    width: 320px;
}
.button_add_or_create a{
    font-size: 22px;
    color: DarkOliveGreen;
}
.button_add_or_create a:hover{
    color: green;
}
.button_add_or_create input{
    padding: 2px 20px;
    background: SteelBlue;
    color: white;
}
.button_add_or_create input:hover{
    background: DarkSlateGray;
    color: White;
}
.guest_record_block{
    width: 500px;
    margin-top: 10px;
}
.guest_record_block p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}
.guest_record_text{
    width: 400px;
}
.guest_record_delete_question{
    color: Maroon;
    margin: 10px 0;
}
.form_delete_block{
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.yes_delete{
    background: LightGrey;
    padding: 2px 20px;
    color: black;
}
.yes_delete:hover{
    background: Red;
    color: white;
}
.no_delete{
    background: LightGrey;
    padding: 2px 20px;
    color: black;
}
.no_delete:hover{
    background: Green;
    color: white;
}